
<div class="products-grid">
  <app-product 
    [product]="product"
    *ngFor="let product of products"

    (addedProduct)="onAddShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
</div>

<button (click)="onLoadMore()">Load more</button>

<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <h2>{{ productChosen?.price | currency }}</h2>
    <p>{{ productChosen?.description }}</p>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    
  </div>
</div>

